@charset "UTF-8";

/* 레이아웃 */
.contents-page {
	display: flex;
	margin-top: 2%;
}

.left-sidebar {
	flex: 1;
}

.right-sidebar {
	flex: 1;
}

.contents-center {
	flex: 3;
}


/* 검색어 입력 영역 */
.search-container {
	display: flex;
	justify-content: center;
	/* 이미지 크기 자동 조절을 위한 세로축 가운데 정렬 */
	align-items: center;
	/* 뷰포트의 30% 차지 */
	height: 30vh;
	overflow: hidden;
	/* 자식 요소 absolute 위치의 기준 */
	position: relative;
}

.search-input {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	width: 38%;
	padding: 12px 10px 12px 10px;
	border-radius: 10px;
	background-color: white;
	text-align: center;
}

.search-img {
	width: 100%;
	height: 100%;
	/* 이미지 비율 유지 */
	object-fit: cover;
}


/* 사이드바 */
.hashtag {
	margin-right: 0.2rem;
}

.title-left-sidebar {
	font-size: 1.4rem;
	margin-bottom: 2rem;
}

.title-right-sidebar {
	font-size: 1.4rem;
	margin-bottom: 2rem;
}

.sub-title {
	font-size: 1.2rem;
	margin-bottom: 0.4rem;
}

.btn-left-sidebar {
	margin-top: 1rem;
}

.btn-left-sidebar:first-child {
	margin-top: 10rem;
}


/* 장소 필터 */
.keyword-region-container {
	text-align: center;
	margin-bottom: 1.5rem;
}

.region {
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}


/* 카드 스타일 */
.card-contents-center {
	/* 그리드 구조의 콘텐츠 사이 여백 */
	--bs-gutter-x: 1.5rem;
}

.pictogram-img-row {
	margin-bottom: 1rem;
}

.pictogram-img {
	width: 10%;
	height: 10%;
	margin-right: 2.8rem;
}

.pictogram-img:last-child {
	margin-right: 0;
}

.pictogram-img-sidebar {
	width: 16%;
	height: 16%;
	margin-right: 2.8rem;
}

.pictogram-img-sidebar:last-child {
	margin-right: 0;
}

.pictogram-text {
	margin-right: 0.5rem;
}

.pictogram-text:last-child {
	margin-right: 0;
}

.card-sidebar-size {
	width: 60%;
	height: 60%;
	margin: 0 auto;
    text-align: center;
}
